@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

@font-face {
  font-family: "MacQueen";
  src: url("../src/fonts/Macqueen-Personal-Use.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  margin: 20px;
  height: 20vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
nav{
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffa648;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
} */

.nav__list{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav__links{
  width: 33%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav__links:hover{
  color: rgb(182, 170, 235);
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
}

h1{
  font-family: 'Denk One', sans-serif;
  font-size: 3rem;
  margin: 20px;
}

.add-workout-form{
  display: grid;
  grid-template-rows: 300px 300px;
  margin: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: auto;
}

.form__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  grid-column-start: 1;
}

.workout-details{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

label{
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
  font-size: 1.2rem;
}

input{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 300px;
  font-size: 1.2rem;
}

.add-exercise-container{
  border: 1px solid #998383;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.exercise-input{
  width: 6em;
}

form button{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #998383;
  width: 300px;
  font-size: 1.2rem;
  background-color: #ff6868;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form select{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 300px;
  font-size: 1.2rem;
}

#add-exercise-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  border-radius: 50%;
  height: 3em;
  margin-left: auto;
  color: black;
}

.plus-sign{
  height: 2em;
  width: 2em;
  color: white;
}

.exercise-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hidden{
  display: none;
}

.workout-list{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.list-workouts{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(104, 227, 255, 0.4);
  border-bottom: 1px solid rgba(104, 227, 255, 0.4);
}

.current-workout-container{
  border: 1px solid lightgray;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: scroll;
}

.list-workouts:nth-child(odd)
{
  background-color: #c4f4fb;
}

.calendar{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.day{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 1px;
}

.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: rgba(127, 255, 104, 0.4);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
}

.day:hover .tooltiptext{
  visibility: visible;
}

#today{
  background-color: green;
}

.rest-day{
  background-color: whitesmoke
}

.workout-day{
  background-color: #ff6868;
}

.current-workout-container::-webkit-scrollbar {
  width: 20px;
}

.current-workout-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.current-workout-container::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;

}

.current-workout-container::-webkit-scrollbar-thumb:hover {
  background: grey;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
