@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  margin: 20px;
  height: 20vh;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(127, 255, 104, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffa648;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.nav__list{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav__links{
  width: 33%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav__links:hover{
  color: rgb(182, 170, 235);
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
}

h1{
  font-family: 'Denk One', sans-serif;
  font-size: 3rem;
  margin: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

label{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

input{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #998383;
  width: 300px;
  font-size: 1.2rem;
}

form button{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #998383;
  width: 300px;
  font-size: 1.2rem;
  background-color: #ff6868;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form select{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #998383;
  width: 300px;
  font-size: 1.2rem;
}

.exercise-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-added{
  pointer-events: none;
  background-color: lightgray;;
}

#add-another-exercise{
  background-color: lightskyblue;
}

.hidden{
  display: none;
}

.workout-list{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.list-workouts{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(104, 227, 255, 0.4);
  border-bottom: 1px solid rgba(104, 227, 255, 0.4);
}

.list-workouts:nth-child(odd)
{
  background-color: #c4f4fb;
}

.calendar{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.day{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 1px;
}

.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: rgba(127, 255, 104, 0.4);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
}

.day:hover .tooltiptext{
  visibility: visible;
}

#today{
  background-color: green;
}

.rest-day{
  background-color: whitesmoke
}

.workout-day{
  background-color: #ff6868;
}
